.botonesEnlaces li {
	display: inline-block;
	padding: 8pt;
	margin: 4pt;
}
#select_laboratorios {
	max-width: 600px;
}
.jumbotron {
	max-width: 600px;
	margin: 0 auto;
}
.media-logo {
	margin-top: 0px;
}
.jumbotron {
	margin-top: 20px;
	background-color: #6288a4;
	color: white;
}
.jumbotron .titulo {
	font-size: 14pt;
	padding-bottom: 10pt;
}
.nota-de-pedido {
	background-color: #cf1515;
	color: white;
	padding: 5pt;
	border-radius: 4pt;
	text-align: center;
}
.nota-de-pedido-caja {
	border: solid 2px #cf1515;
	border-radius: 4pt;
}
#modal_solicitud .modal-header {
	background: #cf1515;
	color: white;
}
.loginLogo {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.single {
	font-size: 12pt;
}
.selectize-input {
	font-weight: bold;
}
.selectize-dropdown {
	font-weight: bold;
	cursor: pointer;
}

/* .table-fixed {
    width: 100%;
    background-color: #f3f3f3;
  }
  .table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td {
    float: left;
  }
  .table-fixed thead tr th {
    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
  } */
.tableFixHead {
	overflow-y: auto;
	height: 400px;
}

.tableFixHead th {
	position: sticky;
	top: 0;
	background: #ddd;
}

.nav-tabs > li,
.nav-pills > li {
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs,
.nav-pills {
	text-align: center;
}
